.button {
  display: flex;
  justify-content: space-around;
  &__open-modal {
    max-width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin: 0 auto 100px;
  }
}
