.products {
  &__product-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
    position: relative;
  }
  &__product-item-img {
    max-width: 300px;
    height: 180px;
    align-self: center;
    margin: 30px 0 0 0;
  }
  &__product-item-name,
  &__product-item-price,
  &__product-item-color {
    padding: 0 0 0 20px;
    line-height: 2;
  }
  &__product-item-delete {
    transform: rotate(45deg);
    font-size: 30px;
    color: #3a3333;
    background: transparent;
    border: 0;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
  }
}

